[submodule "libInfinite"]
	path = libInfinite
	url = https://github.com/xyx0826/libInfinite.git
[submodule "jsoncpp"]
	path = jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp.git
[submodule "vcpkg"]
	path = vcpkg
	url = https://github.com/microsoft/vcpkg
